<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css"></link>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap-grid.min.css"></link>
        <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
        <link rel="stylesheet" href="/stylesheets/styles.css"></link>
        
        
        <script src="/DataTables/jQuery-3.2.1/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="DataTables/datatables.min.js"></script>
        <script src="/javascripts/panels.js"></script>
        <script src="/javascripts/makeMenu.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            {{{body}}}
        </div>
    </body>
</html>