<div>
    <div class="row">
        <button id="signout" class="submit_m offset-md-1">Logout</button>
    </div>
    <div class = "card">
        <div class="card-header text-white text-center bg-danger">Add To Menu</div>
        <div class="offset-md-4 card-body body_ref">
            <form action="/admin" method="POST">
                <div>
                    <div class="row">
                        <input class="addTo col-md-3" name="appetizer" type="text" placeholder="Appetizer" maxLength="50" required/>
                    </div>
                    <div class="row">
                        <input class="addTo col-md-3" name="protein" type="text" placeholder="Protein" maxLength="30" required/>
                    </div>
                    <div class="row">
                        <input class="addTo col-md-3" name="carb" type="text" placeholder="Carb" maxLength="30" required/>
                    </div>
                    <div class="row">
                        <input class="addTo col-md-3" name="vegetable" type="text" placeholder="Vegetable" maxLength="30" required/>
                    </div>
                    <div class="row">
                        <input class="addTo col-md-3" name="sides" type="text" placeholder="Sides" maxLength="50" required/>
                    </div>
                </div>
                <br>
                <div class="row">
                    <input class="submit_m" type="submit" value="Add To Menu"/>
                </div>
            </form>
        </div>
    </div>
    <div class = "card">
        <div class="card-header text-white text-center bg-danger">Menu</div>
        <div class="card-body body_ref">
            <table id="menu_table" class="table table-bordered text-white bg-danger text-center" style="width:100%">
                <thead>
                    <th>id</th>
                    <th>Appetizer</th>
                    <th>Protein</th>
                    <th>Carb</th>
                    <th>Vegetable</th>
                    <th>Sides</th>
                    <th></th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class = "card">
        <div class="card-header text-white text-center bg-danger">Orders</div>
        <div class="card-body body_ref">
            <table id="orders_table" class="table table-bordered text-white bg-danger text-center" style="width:100%">
                <thead class="text-white">
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Appetizer</th>
                    <th>Protein</th>
                    <th>Carb</th>
                    <th>Vegetable</th>
                    <th>Sides</th>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class = "card">
        <div class="card-header text-white text-center bg-danger">Add Admin</div>
        <div class="card-body body_ref">
            <div class="offset-md-4">
                <form action="/register" method="POST">
                    <input class="addTo" name="username" type="text" placeholder="username"/>
                    <input class="addTo" name="password" type="password" placeholder="password"/>
                    <input class="submit_m" type="submit" value="Add"/>
                </form>
            </div>
        </div>
    </div>
    
</div>