.select0
{
    border-radius: 5px;
    /*width: 300px;*/
    
    /*border: 1px solid #9e0000;*/
    color:white;
    background-color: #ce4e4e;
    
    font-size: 18pt;
}

.select0:hover{
    background-color: white;
    color: black;
}

h2{
    color:white;
}

.ticket{
    margin-top: 10px;
    background-color: #ff7070;
    height: 400px;
    
    /*border-radius: 8px;*/
    border: 2px solid #ce4e4e;
}

.order{
    border:none;
    vertical-align: bottom;
    
    background-color: #ce2121;
    padding:8px;
    color:white;
    
    cursor: pointer;
}

.order:hover{
     background-color: white;
     color:black;
     padding: 12px;
}

label{
    color:white;
    font-size: 16pt;
}

.flash{
    height:40px;
    text-align: center;
}

.body_ref{
    display: none;
    background-color: white;
}

.card-header{
    cursor: pointer;
}

.dataTables_filter label, .dataTables_info{
    color: black;
}

.sp_buttons{
    background-color:#ce2121;
    border-radius:2px;
}

.table-red{
    background-color:#ce2121;
}

/*
table th{
    background-color:#ce2121;
}*/

.del_button{
    color: white;
    cursor: pointer;
}

.logout{
    margin-top: 100px;
    background-color: #ce2121;
    border:none;
    padding: 5px;
    color:white;
    cursor:pointer;
}

.logout:hover{
    background-color: #ff7070;
    padding: 8px;
}

.login_row .next{
    background-color: #ce4e4e;
    border:none;
    padding: 5px;
    color:white;
    cursor:pointer;
    border-radius: 5px;
    
    width: 100px;
}

.login_row .next:hover{
    background-color: #ff7070;
}

.login_row{
    margin-top: 5%;
}

.login_row select{
     border-radius: 5px;
    /*width: 300px;*/
    
    /*border: 1px solid #9e0000;*/
    color:white;
    background-color: #ce4e4e;
    
    font-size: 18pt;
}

.addTo{
    background-color: #ce4e4e;
    color:white;
    border:1px solid #ce2121;
    outline-color: white;
    
}

.addTo::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.submit_m{
    background-color: #ce2121;
    border:none;
    padding: 8px;
    color:white;
    cursor:pointer;
    
    width: 140px;
}

.submit_m:hover{
    background-color: #898989;
}